<!DOCTYPE html>
<html>
  <head>
    <title>Create Patient</title>
  </head>
  <body>
    <div class="container">
      <h1>Create Patient</h1>
      <form action="/patient" method="POST">
        <div class="mb-3">
          <label class="form-label">
            Name
            <input type="text" name="name" class="form-control" required />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Date of Birth
            <input
              type="date"
              name="dateOfBirth"
              class="form-control"
              required
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Address
            <input type="text" name="address" class="form-control" required />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Insurance ID
            <input
              type="text"
              name="insuranceId"
              class="form-control"
              required
            />
          </label>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
    <!-- /.container -->
  </body>
</html>
